[submodule "AirSend_Linux"]
	path = AirSend_Linux
	url = git@github.com:Anmol-Bits/AirSend_Linux.git
[submodule "AirSend_Android"]
	path = AirSend_Android
	url = git@github.com:Anmol-Bits/AirSend_Android.git
