[submodule "AirSend_Linux"]
	path = AirSend_Linux
	url = https://github.com/theAnmol08/AirSend_Linux.git

[submodule "AirSend_Android"]
	path = AirSend_Android
	url = https://github.com/theAnmol08/AirSend_Android.git
